In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("NCAA_Tourney_2002_2019_update.csv")

In [3]:
df.head(5)

,team1_id,team1_score,team2_id,team2_score,WLoc,num_ot,team1_position,team2_position,team1_seed,team2_seed,...,team1_adjoe,team1_de,team1_adjde,team2_tempo,team2_adjtempo,team2_oe,team2_adjoe,team2_de,team2_adjde,game_id
0,1192.0,82,1341.0,76,N,0,X16a,X16b,16,16,...,106.296,104.7090,110.5500,72.5879,71.0282,103.120,101.6550,99.7542,105.9590,2019-1192.0-1341.0
1,1125.0,81,1396.0,70,N,0,W11a,W11b,11,11,...,114.952,99.6691,101.8860,70.1158,68.8256,105.306,108.9910,100.1860,99.5630,2019-1125.0-1396.0
2,1295.0,78,1300.0,74,N,0,W16a,W16b,16,16,...,106.675,110.0540,109.8730,67.1363,65.2686,100.502,96.7551,100.7490,108.6610,2019-1295.0-1300.0
3,1113.0,74,1385.0,65,N,0,X11a,X11b,11,11,...,109.886,99.8027,98.6844,72.3507,70.5516,105.988,109.7820,102.5140,101.0440,2019-1113.0-1385.0
4,1278.0,86,1257.0,76,N,0,W10,W07,10,7,...,110.803,101.4670,96.3335,68.4904,67.1950,107.243,113.5030,97.6744,92.4983,2019-1278.0-1257.0

In [4]:
#from google.colab import files
#uploaded = files.upload()

In [5]:
#df = pd.read_csv("NCAA_Tourney_2002_2019_update.csv")

In [6]:
df.head(3)

,team1_id,team1_score,team2_id,team2_score,WLoc,num_ot,team1_position,team2_position,team1_seed,team2_seed,...,team1_adjoe,team1_de,team1_adjde,team2_tempo,team2_adjtempo,team2_oe,team2_adjoe,team2_de,team2_adjde,game_id
0,1192.0,82,1341.0,76,N,0,X16a,X16b,16,16,...,106.296,104.7090,110.550,72.5879,71.0282,103.120,101.6550,99.7542,105.959,2019-1192.0-1341.0
1,1125.0,81,1396.0,70,N,0,W11a,W11b,11,11,...,114.952,99.6691,101.886,70.1158,68.8256,105.306,108.9910,100.1860,99.563,2019-1125.0-1396.0
2,1295.0,78,1300.0,74,N,0,W16a,W16b,16,16,...,106.675,110.0540,109.873,67.1363,65.2686,100.502,96.7551,100.7490,108.661,2019-1295.0-1300.0

In [7]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')

from math import sin, cos, sqrt, atan2, radians
import numpy as np
import pandas as pd
import random
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (auc, classification_report, roc_auc_score, accuracy_score,
                             f1_score, log_loss, roc_curve, confusion_matrix, precision_score, recall_score)
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm

In [8]:
df_cut = df[[ "team1_teamname", "team1_score", "team2_teamname","team2_score"]]
df_cut["team1_spead"] = df_cut["team1_score"] - df_cut["team2_score"]
df_cut["team2_spead"] = -df_cut["team1_spead"]

/Users/wangyue/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/wangyue/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [9]:
df_cut.tail()

,team1_teamname,team1_score,team2_teamname,team2_score,team1_spead,team2_spead
1162,Loyola-Chicago,78,Kansas St,62,16,-16
1163,Michigan,58,Florida St,54,4,-4
1164,Villanova,95,Kansas,79,16,-16
1165,Michigan,69,Loyola-Chicago,57,12,-12
1166,Villanova,79,Michigan,62,17,-17

In [10]:
teams = pd.concat([
    df_cut[['team1_teamname', 'team1_spead','team2_teamname']].rename(columns={'team1_teamname': 'team', 'team1_spead': 'spread', 'team2_teamname': 'opponent'}),
    df_cut[['team2_teamname', 'team2_spead','team1_teamname']].rename(columns={'team2_teamname': 'team', 'team2_spead': 'spread', 'team1_teamname': 'opponent'})
])
teams.tail()

                team  spread        opponent
1162       Kansas St     -16  Loyola-Chicago
1163      Florida St      -4        Michigan
1164          Kansas     -16       Villanova
1165  Loyola-Chicago     -12        Michigan
1166        Michigan     -17       Villanova

In [11]:
import numpy as np

In [12]:
teams['spread'] = np.where(teams['spread'] > 15, 15, teams['spread'])
teams['spread'] = np.where(teams['spread'] < -15, -15, teams['spread'])

In [13]:
spreads = teams.groupby('team').spread.mean()
spreads

team
Abilene Chr   -15.000000
Air Force     -10.000000
Akron         -13.666667
Alabama        -3.545455
Alabama A&M   -10.000000
                 ...
Wofford        -3.500000
Wright St     -15.000000
Wyoming        -5.333333
Xavier          2.486486
Yale           -2.666667
Name: spread, Length: 252, dtype: float64

In [14]:
terms = []
solutions = []

for team in spreads.keys():
    row = []
    # get a list of team opponents
    opps = list(teams[teams['team'] == team]['opponent'])
    
    for opp in spreads.keys():
        if opp == team:
        	# coefficient for the team should be 1
            row.append(1)
        elif opp in opps:
        	# coefficient for opponents should be 1 over the number of opponents
            row.append(-1.0/len(opps))
        else:
        	# teams not faced get a coefficient of 0
            row.append(0)
            
    terms.append(row)
    
    # average game spread on the other side of the equation
    solutions.append(spreads[team])

In [15]:
solutions = np.linalg.solve(np.array(terms), np.array(solutions))

In [16]:
ratings = list(zip( spreads.keys(), solutions ))
srs = pd.DataFrame(ratings, columns=['team', 'rating'])
srs.head()

          team     rating
0  Abilene Chr -12.178422
1    Air Force  -7.454327
2        Akron -15.207680
3      Alabama  -6.957334
4  Alabama A&M -20.769627

In [17]:
rankings = srs.sort_values('rating', ascending=False).reset_index()[['team', 'rating']]
rankings.loc[:10]

              team    rating
0   North Carolina  4.219692
1   South Carolina  4.094053
2         Michigan  3.797574
3          Florida  3.587028
4      Connecticut  3.537197
5         Kentucky  2.821578
6           Kansas  2.715654
7       Wichita St  2.607965
8           Auburn  2.495821
9        Villanova  2.367818
10      Louisville  2.339100

In [18]:
team_list = list(rankings['team']) 
rating_list = list(rankings['rating'])

In [19]:
team1_rating = []
team1_namelist = list(df['team1_teamname'])

for i in team1_namelist:
  unique_index = pd.Index(team_list)
  team_index = unique_index.get_loc(i)
  team_rating = rating_list[team_index]
  team1_rating.append(team_rating)

In [20]:
team2_rating = []
team2_namelist = list(df['team2_teamname'])

for i in team2_namelist:
  unique_index = pd.Index(team_list)
  team_index = unique_index.get_loc(i)
  team_rating = rating_list[team_index]
  team2_rating.append(team_rating)

In [21]:
rating_diff = []
for i in range(len(team1_rating)):
  game_rating_diff = team1_rating[i] - team2_rating[i]
  rating_diff.append(game_rating_diff)

In [22]:
rating_compare = []
for i in rating_diff:
  if i > 2:
    rating_compare.append(1)
  elif i < -2:
    rating_compare.append(-1)
  else:
    rating_compare.append(0)

In [23]:
df['rating_diff'] = rating_compare

In [24]:
df['rating_diff'].value_counts()

 1    690
 0    306
-1    171
Name: rating_diff, dtype: int64

In [25]:
def distance(lat1, lon1, lat2, lon2):

    # approximate radius of earth in km
    R = 6373.0

    lat1 = radians(lat1)
    lon1 = radians(lon1)
    lat2 = radians(lat2)
    lon2 = radians(lon2)

    dlon = lon2 - lon1
    dlat = lat2 - lat1

    a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    distance = R * c
    
    return distance

In [26]:
df['dist1'] = df.apply(lambda row: distance(row['host_lat'], row['host_long'], row['team1_lat'], row['team1_long']), axis=1)
df['dist2'] = df.apply(lambda row: distance(row['host_lat'], row['host_long'], row['team2_lat'], row['team2_long']), axis=1)

In [27]:
df['diff_dist'] = df['dist1'] - df['dist2']

In [28]:
df['exp_win1'] = (df['team1_adjoe']**11.5)/ ((df['team1_adjde']**11.5)+(df['team1_adjoe']**11.5))
df['exp_win2'] = (df['team2_adjoe']**11.5)/ ((df['team2_adjde']**11.5)+(df['team2_adjoe']**11.5))

Log 5 is a formula invented by Bill James[1] to estimate the probability that team A will win a game, based on the true winning percentage of Team A and Team B.

In [29]:
df['team1_log5'] = (df['exp_win1'] - (df['exp_win1']*df['exp_win2']))/ (df['exp_win1']+df['exp_win2']-(2*df['exp_win1']*df['exp_win2']))

In [30]:
seed_diff = list(df['team1_seed'] - df['team2_seed'])

seed_compare = []
for i in seed_diff:
  if i >= 4:
    seed_compare.append(1)
  elif i <= -4:
    seed_compare.append(-1)
  else:
    seed_compare.append(0)

In [31]:
df['seed_diff'] = seed_compare

In [32]:
df['seed_diff'].value_counts()

-1    583
 0    416
 1    168
Name: seed_diff, dtype: int64

In [33]:
df['team1_win'] = (df['team1_score']>df['team2_score']).astype(int)

In [34]:
def tran(x):
  if x != 0:
    return 1
  else: 
    return 0

In [35]:
df['team1_ff'] = df['team1_pt_overall_ff'].apply(tran)
df['team2_ff'] = df['team2_pt_overall_ff'].apply(tran)
df['ff_diff'] = df['team1_ff'] - df['team2_ff']

In [36]:
df['ff_diff'].value_counts()

 0    609
 1    395
-1    163
Name: ff_diff, dtype: int64

In [37]:
np.random.seed(0)

def shuffle(df):     
    df = df.reindex(np.random.permutation(df.index)).copy()
    return df.reset_index(drop=True)
random_indices = random.sample(range(len(df)), int(len(df)/2))

In [38]:
df_1 = df[~df.index.isin(random_indices)][['game_id','season','team1_win','exp_win1','exp_win2','team2_score', 'team1_score','diff_dist','team1_log5','team1_id','team2_id','seed_diff', 'ff_diff','rating_diff']].reset_index(drop=True)
df_2 = df[df.index.isin(random_indices)][['game_id','season','team1_win','exp_win1','exp_win2','team2_score','team1_score','diff_dist','team1_log5','team1_id','team2_id','seed_diff', 'ff_diff','rating_diff']].reset_index(drop=True)

In [39]:
df_2['team1_win'] = df['team1_win'].apply(lambda x: 1 if x==0 else 0)
df_2['diff_dist'] = df['diff_dist']*-1
df_2['ff_diff'] = df['ff_diff']*-1
df_2['seed_diff'] = df['seed_diff']*-1
df_2['rating_diff'] = df['rating_diff']*-1
df_2['team1_log5'] = (df['exp_win2'] - (df['exp_win1']*df['exp_win2']))/ (df['exp_win1']+df['exp_win2']-(2*df['exp_win1']*df['exp_win2']))
df_2.columns = ['game_id', 'season', 'team1_win', 'exp_win2', 'exp_win1', 'team1_score', 'team2_score', 'diff_dist', 'team1_log5',
 'team2_id', 'team1_id','seed_diff', 'ff_diff','rating_diff']

In [40]:
df_1['team1_win'].value_counts()

1    584
Name: team1_win, dtype: int64

In [41]:
mm_train = pd.concat([df_2, df_1])

/Users/wangyue/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [42]:
mm_data_2019 = mm_train[mm_train['season'] == 2019].reset_index(drop=True)
mm_data_else = mm_train[mm_train['season'] != 2019].reset_index(drop=True)

In [43]:
mm_data_else.groupby('team1_win')['team1_log5'].mean()

team1_win
0    0.366799
1    0.618721
Name: team1_log5, dtype: float64

In [44]:
mm_data_else.groupby('team1_win')['seed_diff'].mean()

team1_win
0    0.396364
1   -0.365455
Name: seed_diff, dtype: float64

In [45]:
mm_data_else.groupby('team1_win')['diff_dist'].mean()

team1_win
0    231.233088
1   -204.514611
Name: diff_dist, dtype: float64

In [46]:
mm_data_else.groupby('team1_win')['ff_diff'].mean()

team1_win
0   -0.176364
1    0.207273
Name: ff_diff, dtype: float64

In [47]:
X = mm_data_else[['team1_log5', 'diff_dist', 'seed_diff', 'ff_diff', 'rating_diff']]
y = mm_data_else['team1_win']

In [48]:
X

      team1_log5    diff_dist  seed_diff  ff_diff  rating_diff
0       0.652721  -524.926371         -1        0            0
1       0.739587  -733.948117         -1        1            1
2       0.560312 -1053.644399          0        0            0
3       0.137544   785.401424          1       -1            0
4       0.143570  -386.259323          1       -1           -1
...          ...          ...        ...      ...          ...
1095    0.437585   769.725343          1        0           -1
1096    0.662444 -2412.607153          0        1            0
1097    0.720863  -284.535852          0       -1            1
1098    0.648177   -75.859795         -1        1            1
1099    0.677630   465.785620          0        0            0

[1100 rows x 5 columns]

In [49]:
import numpy as np

labels = np.array(y)
features= X

feature_list = list(X.columns)
# Convert to numpy array
features = np.array(features)

In [50]:
mm_data_2019 = mm_train[mm_train['season'] == 2019].reset_index(drop=True)
mm_data_else = mm_train[mm_train['season'] != 2019].reset_index(drop=True)

In [63]:
y_test = mm_data_2019['team1_win']
x_test = mm_data_2019[['ff_diff','seed_diff','diff_dist','team1_log5','rating_diff']]
y_train = mm_data_else['team1_win']
x_train = mm_data_else[['ff_diff','seed_diff','diff_dist','team1_log5','rating_diff']]

In [51]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.calibration import CalibratedClassifierCV
from sklearn.metrics import log_loss

In [52]:
clf = RandomForestClassifier(n_estimators=25)

In [53]:
clf.fit(X_train_valid, y_train_valid)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=25,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [67]:
clf = RandomForestClassifier(n_estimators=25)
clf.fit(train_features, train_labels)
clf_probs = clf.predict_proba(test_features)
sig_clf = CalibratedClassifierCV(clf, method="sigmoid", cv="prefit")
sig_clf.fit(x_test, y_test)
sig_clf_probs = sig_clf.predict_proba(x_test)
sig_score = log_loss(y_test, sig_clf_probs)
print('sig_score = %r' % (sig_score,))

sig_score = 0.6154956181677037